@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color: white;
    height: 100%;
}
.left{
    width: 25vw;
    margin: 3px;
}
.right{
    width: 75vw;
    margin: 9px 0;
    margin-right: 0.5rem;
    position: relative;
}
.home{
    /* height: 14vh; */
    height: auto;
    overflow: hidden;
}
.home ul{
    display: flex;
    flex-direction: column;
}
.home ul li{
    font-size: 0.8rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-top: 1rem;
    font-weight: 450;
}
.home ul li img{
    height: 1rem;
    cursor: pointer;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 0.4rem;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.heading{
    font-size: 0.9rem;
    display: flex;
    width: 100%;
    gap: 1rem;
    font-weight: bold;
    padding: 1rem 0;
    align-items: center;
}
.heading h2{
    font-size: 0.8rem;
}
.heading img{
    height: 1rem;
}
.library{
    min-height: 75vh;
    /* height: 100%; */
    position: relative;
    cursor: pointer;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6rem;
    gap: 1rem;
    position: absolute;
    bottom: 10px;
}
.footer a{
    color: grey;
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F1F1F;
    padding: 10px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}
.signupbtn{
    color: #B3B3B3;
    background-color:  #1F1F1F;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.signupbtn:hover{
    color: white;
    transform: scale(1.04);
}
.loginbtn{
    background-color: white;
    color: black;
    padding: 9px 19px;
    border-radius: 22px;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}
.loginbtn:hover{
    border: none;
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.89);
}
.cardContainer{
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    margin: 1rem;
    margin-left: 0px;
    max-height: 65vh;
    overflow-y: scroll;
}
.spotifyPlaylist h2{
    font-size: 1.2rem;
}
.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist .card{
    width: 175px;
    border-radius: 0.5rem;
    background-color: #252525;
}
.card > *{
    padding: 0.6rem;
}
.card{
    position: relative;
}
.spotifyPlaylist .card img{
    width: 90%;
    object-fit: contain;
    border-radius: 1rem;
    
}
.card p{
    font-size: 12px;
    color: #B3B3B3;
    margin: 0.1rem;
    padding-top: 0px;
}
.card h2{
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 1.5rem;
}
.play{
    padding: 0px;
    transition: all 1s ease-out;
    opacity: 0;

}
.play svg{
    height: 2.3rem;
    position: absolute;
    right: 13px;
    top: 125px;
    cursor: pointer;
}
.playBar{
    position: fixed;
    bottom: 1rem;
    width: 70vw;
    background-color: #ded8d8;
    /* background-color: #eaeaea; */
    padding: 12px 0;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.songButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.songList ul {
    padding: 0 10px;
    font-size: 0.7rem;
}
.songList li{
    list-style-type: none;
    padding: 0.5rem 10px;
    display: flex;
    gap: 7px;
    border: 1px solid white;
    margin: 1rem 0;
    border-radius: 0.4rem;
}
.songList .info{
    padding: 5px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.playnow span{
    font-size: 12px;
    width: 65px;
}
.songList{
    height: 63.5vh;
    overflow: auto;
    margin-bottom: 4rem ;
    scroll-behavior: smooth;
}
.seekbar{
    height: 6px;
    width: 100%;
    background-color: #555;
    bottom: 0;
    position: absolute;
    border-radius: 1rem;
    margin: 8px 0;
    cursor: pointer;
}
.circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.circle:hover {
    transform: scale(1.2);
}
.songButtons img{
    cursor: pointer;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}
.songButtons img:hover {
    transform: scale(1.2);
}
.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}
.songinfo{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.songtime{
    color: #333;
    font-size: 13px;

}
.logo img{
    width: 110px;
}
.hamburgerContainer svg{
    background-color: rgba(0, 0, 0, 0.511);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.hamburger{
    display: none;
}
.close img{
    display: none;
}

/* Media Query */
@media (max-width: 1400px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 386px;
        background-color: black;
    }
    .left .close{
        position: absolute;
        right: 10px;
        top: 12px;
    }
    .left .close img{
        height: 35px;
        display: block;
    }
    .container{
        margin-left: 9px;
    }
    .right{
        width: 100vw;
    }
    .playBar{
        width: 90vw;
    }
    .hamburger{
        display: block;
    }
}